<div class="ui middle aligned center aligned grid">
    <div class="four wide column">
        <p id="alert"><%= alert %></p>

        <h2 class="ui teal header">
            <div class="content">Entrar na sua conta</div>
        </h2>
        
        <%= form_tag({controller: "sessions", action: "create"}, method: "post", class: "ui large form") do%>
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <%= email_field_tag(:email, "", placeholder: "Informe seu e-mail")%>
                    </div>
                </div>
            
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <%= password_field_tag(:password, "", placeholder: "Informe sua senha")%>
                    </div>
                </div>
            
                <%= submit_tag("Login", class: "ui fluid large teal submit button") %>
            </div>
        <% end %>

        <div class="ui message">
            New to us?
            <%= link_to "Sign Up", signup_path %>
        </div>
    </div>
</div>