<%= form_for(@user, remote: true, html: { class: "ui large form" }) do |f|%>
    <% if user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
                <% user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="ui stacked segment">
        <div class="field">
            <div class="ui left icon input">
                <i class="user icon"></i>
                <%= f.email_field :email, placeholder: "Informe seu e-mail" %>
            </div>
        </div>
    
        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <%= f.password_field :password, placeholder: "Informe sua senha" %>
            </div>
        </div>

        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <%= f.password_field :password_confirmation, placeholder: "Repita sua senha" %>
            </div>
        </div>
    
        <%= submit_tag("Salvar", class: "ui fluid large teal submit button") %>
    </div>
<% end %>