<p id="notice"><%= notice %></p>

<table class="ui celled striped table">
  <thead>
    <tr>
      <th colspan="4">
        Usuários
      </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'Ver detalhes', user %></td>
        <td><%= link_to 'Atualizar', edit_user_path(user) %></td>
        <td><%= link_to 'Excluir', user, method: :delete, data: { confirm: 'Você quer apagar esse usuário?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Novo Usuário', new_user_path %>
